
  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="https://www.facebook.com/" ><i class="social-icon fab fa-facebook-f "></i></a>
      <a href="http://www.twitter.com/" > <i class="social-icon fab fa-twitter"></i></a>
     <a href="http://www.instagram.com/"> <i class="social-icon fab fa-instagram"></i></a>
     <a href="https://mail.google.com/mail/" > <i class="social-icon fas fa-envelope"></i></a>
     
      <p><i class="far fa-copyright"></i> Copyright 2021 TinDog</p>
    </div>
  </footer>


</body>

</html>
